#postAvatar{
 margin-bottom: 30px;
  
}
#postName{
  font-weight: bold;
  margin-left: 60px;
} 
#PostTag{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:500px;

}
#postMsg{
  display: flex;
  flex-direction: row;
  margin-left:510px;
}
#postTextCotent{
  margin-left:10px;
}

#postDiv {
  display: flex;
  flex-direction: row;
  position: absolute;
}
#StoryDiv {

  max-height: 700px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.Post {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
img[src=""] {
  display: none;
}
