#App-header {
  height: 70px;
  background-color: aliceblue;
  color: black;
  position: relative;
}
.App-logo {
  padding-top: 20px;
  margin-left: 20px;
  height: 10px;
  float: left;
}
.AppTitle {
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 30px;
  color: #333333;
  font-family: Impact, Charcoal, sans-serif;
  top: 0px;
  left: 5%;
  position: absolute;
}
#avatar {
  top: 0px;
  right: 0%;
  margin: 15px;
  position: absolute;
}
